/* hero section starts here */
.hero-img {
  background-image: url("./resources/Banner\ Image.png");
  background-position: center;
  background-repeat: no-repeat;

  width: 1320px;
  height: 600px;
  padding-top: 50px;
  margin: 0 auto;
}

/* common color */
.text-primary {
  color: #ffffff;
}

/* common fonts */
.font-primary {
  font-family: "Merriweather", serif;
}

.font-secondary {
  font-family: "Inter", sans-serif;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(550px);
  text-align: center;
}

.hero-title {
  font-weight: normal;
  font-size: 32px;
  margin-bottom: 30px;
}

.hero-title-bold {
  font-size: 65px;
  font-weight: 900;
  margin-top: 3px;
}
/* hero section ends here */

/* holiday section starts here */
.holiday-content {
  text-align: center;
}

.holiday-off {
  color: #ff0000;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 2.3rem;
}

.holiday-title {
  color: #ff0000;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
}

.holiday-catagorys {
  color: #070211;
  font-size: 2.2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
/* holiday section ends here */

/* midnight section starts here */
.midnight-img {
  background-image: url("./resources/Vectorrr.png");
  background-position: center;
  background-repeat: no-repeat;

  width: 1320px;
  height: 600px;
  margin: 0 auto;
  margin-top: 8rem;
}
.midnight-container {
  display: flex;
  justify-content: space-evenly;
}
.midnight-content {
  padding-top: 100px;
  padding-left: 126px;
  width: 64%;
}

.midnight-title {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 0;
}

.midnight-summary {
  color: #ffffff;
  opacity: 80%;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.midnight-2024 {
  width: 36%;
  padding: 5rem 0;
}

.btn-primary {
  padding: 16px 32px;
  background: #ff0000;
  color: #ffffff;
  font-weight: 700;
  border: none;
  border-radius: 8px;
}
/* midnight section ends here */

/* midnight place section starts here */
.place-content {
  background: linear-gradient(rgba(255, 0, 0, 0.095), rgba(255, 0, 0, 0));
  border-radius: 0.575rem;

  color: #070211;
  font-weight: 600;
  text-align: center;
  font-size: 32px;

  width: 1320px;
  height: 482px;
  line-height: 0;
  margin: 72px 98px 0 98px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.place-content .place {
  color: #ff0000;
}
.place-content .date {
  color: #ff0000;
}
.place-content .time {
  color: #ff0000;
}
.btn-place {
  margin-top: 3.5rem;
}
/* midnight place section ends here */

/* comming soon section starts here */
.comming-soon-container {
  display: flex;
  justify-content: space-evenly;

  margin-top: 10rem;
}

.comming-soon-container .comming-soon-left {
  width: 20%;
  margin: auto 0;
}
.comming-soon-left .comming-soon-offer {
  color: #ff0000;
  font-weight: 500;
}
.comming-soon-left .comming-soon-title {
  color: #070211;
  font-size: 2rem;
}

/* for common summary */
.comming-soon-summary {
  color: #07021199;
  opacity: 80%;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.6;
}
.comming-soon-container .comming-soon-middle {
  width: 33%;
  text-align: center;
}

.comming-soon-container .comming-soon-middle .comming-soon-middle-img {
  border: 10px solid #ff0000;
  border-radius: 1000px;
  padding: 1.5rem;
  width: 294px;
}
.comming-soon-container .comming-soon-right {
  width: 15%;
  margin: auto 0;
  padding-top: 2.3rem;
}

.comming-soon-right .comming-soon-2024 {
  color: #ff0000;
  font-weight: 700;
  font-size: 2rem;
}

.comming-soon-right .comming-comming-soon-img {
  width: 100px;
  height: 100px;
}
/* comming soon section ends here */

/* holiday sale section starts here */
.holidays-sale-container {
  color: #070211;
  text-align: center;

  margin-top: 7rem;
  margin-bottom: 6rem;
}

.holidays-sale-container .holidays-sale-functional {
  font-weight: 500;
  font-size: 1rem;
}
.holidays-sale-container .holidays-sale-title {
  margin-top: 1rem;
  font-weight: 900;
  font-size: 3rem;
}

.holidays {
  color: #ff0000;
}
.holidays-sale-container .holidays-sale-summary {
  width: 830px;
  margin: 0 auto;
  margin-top: 0.125rem;
  color: #070211;
  opacity: 60%;
  font-weight: 500;
  font-size: 0.925rem;
}
/* holiday sale section ends here */

/* holiday sale img section starts here */
.holidays-sale-img {
  background-image: url("./resources/Group\ 84.png");
  background-repeat: no-repeat;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  width: 1320px;
  height: 600px;
  margin: 0 auto;
}
/* holiday sale img section ends here */

/* portfolio section starts here */
.portfolio-container {
  margin-left: 100px;
  margin-top: 6rem;
}

.portfolio-container .portfolio-gifts {
  color: #ff0000;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.portfolio-container .portfolio-title {
  color: #070211;
  font-weight: 900;
  font-size: 2.125rem;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio-container .portfolio-summary {
  color: #070211;
  opacity: 60%;
  font-size: 0.925rem;
  margin: 1.325rem 0;
  line-height: 1.7;
}
/* portfolio section ends here */
